<p>
  I'm in a <em>view</em>!
</p>

<% @all.each_with_index do |recipe, index| %>
  <li>
    <% url = "http://localhost:4567/#{index}" %>
    <a href=<%= url %> ><%= "#{index+1}- #{recipe.name}" %></a>
  </li>
<% end %>
